* {
  box-sizing: border-box;
}
:root {
  --dark-moss-green: #606c38ff;
  --pakistan-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
}
.dashboard {
  background: var(--earth-yellow);
}
.cornsilk {
  background: var(--tigers-eye);
}
.dashboardBoxes {
  background: var(--tigers-eye);
  color: white;
}
.highlight {
  color: var(--dark-moss-green);
}
.bgColor {
  background-color: var(--dark-moss-green);
  color: white;
}
.bgColor {
  background-color: var(--dark-moss-green);
  color: white;
}
.bgColor:hover {
  background-color: var(--pakistan-green);
}
.Nunito {
  font-family: "Nunito", sans-serif;
}
.bgPakistanGreen {
  background-color: var(--pakistan-green);
}
.PakistanGreen {
  color: var(--pakistan-green);
}
body {
  overflow-x: hidden;
  background-color: var(--cornsilk);
  font-size: 30px;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

.hover-button {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.hover-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #dda15eff;
  transition: height 0.3s ease;
  z-index: -1;
}

.hover-button:hover::before {
  height: 100%;
}

.hover-button:hover {
  color: white;
}
